[submodule "0x11-printf"]
	path = 0x11-printf
	url = https://github.com/VictorZ94/printf.git
[submodule "0x19-Stacks_Queues-LIFO_FIFO"]
	path = 0x19-Stacks_Queues-LIFO_FIFO
	url = https://github.com/VictorZ94/monty.git
[submodule "0x16-simple_shell"]
	path = 0x16-simple_shell
	url = https://github.com/VictorZ94/simple_shell.git
[submodule "0x1B-Sorting_algorithms"]
	path = 0x1B-Sorting_algorithms
	url = https://github.com/VictorZ94/sorting_algorithms.git
[submodule "0x1D-Binary_trees"]
	path = 0x1D-Binary_trees
	url = https://github.com/VictorZ94/binary_trees.git
